FRS.WebApi/Service References/AccountsOracleGLLoader/AccountsOracleGLLoader2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations" elementFormDefault="qualified" targetNamespace="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://frsintegrationsvcs.azurewebsites.net/Svc.Accounts.OracleGL/AccountsOracleGLLoader.svc?xsd=xsd2" namespace="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/request" />
  <xs:import schemaLocation="http://frsintegrationsvcs.azurewebsites.net/Svc.Accounts.OracleGL/AccountsOracleGLLoader.svc?xsd=xsd3" namespace="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/response" />
  <xs:element name="LoadOracleGL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/request" minOccurs="0" name="request" nillable="true" type="q1:LoadOracleGLRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOracleGLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/response" minOccurs="0" name="LoadOracleGLResult" nillable="true" type="q2:LoadOracleGLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>