FRS.WebApi/Service References/AccountsOracleGLLoader/AccountsOracleGLLoader1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/response" elementFormDefault="qualified" targetNamespace="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoadOracleGLResponse">
    <xs:sequence>
      <xs:element name="Code" type="xs:long" />
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadOracleGLResponse" nillable="true" type="tns:LoadOracleGLResponse" />
</xs:schema>