FRS.WebApi/Service References/AccountsOracleGLLoader/AccountsOracleGLLoader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/request" elementFormDefault="qualified" targetNamespace="http://www.gulffinance.com.sa/frs/v1/accounts/oraclegl/operations/load/request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoadOracleGLRequest">
    <xs:sequence>
      <xs:element name="LoadId" type="xs:long" />
      <xs:element name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadOracleGLRequest" nillable="true" type="tns:LoadOracleGLRequest" />
</xs:schema>