FRS.WebApi/Service References/BankMT940Loader/BankMT940Loader2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.gulffinance.com.sa/frs/v1/bank/mt940/operations/load/request" elementFormDefault="qualified" targetNamespace="http://www.gulffinance.com.sa/frs/v1/bank/mt940/operations/load/request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoadMT940Request">
    <xs:sequence>
      <xs:element name="LoadId" type="xs:long" />
      <xs:element name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadMT940Request" nillable="true" type="tns:LoadMT940Request" />
</xs:schema>